<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        type="email"
        formControlName="email"
        placeholder="you@example.com"
        autocomplete="email"
      ></ion-input>
    </ion-item>
    <ion-note
      *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
      color="danger"
      class="ion-padding-start"
    >
      Valid email required
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        placeholder="••••••"
        autocomplete="current-password"
      ></ion-input>
    </ion-item>
    <ion-note
      *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      color="danger"
      class="ion-padding-start"
    >
      Password must be at least 6 characters
    </ion-note>

    <div class="ion-padding-top">
      <ion-button expand="block" type="submit" [disabled]="form.invalid">
        Sign In
      </ion-button>
    </div>
  </form>

  <div class="ion-text-center ion-padding-top">
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </div>
</ion-content>
